<head>
    <title>KeyFaster.com</title>
    <link rel='stylesheet' href='/stylesheets/style.css' async/>
    <link href='http://fonts.googleapis.com/css?family=Irish+Grover|Architects+Daughter' rel='stylesheet' type='text/css' async>
    <!--<script type="text/javascript" rel="dns-prefetch" src="https://code.createjs.com/createjs-2014.12.12.min.js"></script>-->
    <script type="text/javascript">
//        var checkScrollBars = function(){
//            var b = document.getElementsByTagName('html');
//            var normalw = 0;
//            var scrollw = 0;
//            if(b.clientHeight>window.innerHeight){
//                normalw = window.innerWidth;
//                scrollw = normalw - b.clientWidth;
//                b.style.marginRight = '-'+scrollw+'px';
//                b.style.overflowX = 'hidden';
//            }
//        }
//        window.addEventListener("resize", checkScrollBars);
    </script>
</head>
<div id="header-container">
        <% typeof user!='undefined' ? user=user : user='' %>

    <div id="title-container" align="center">
        <img id="title" src="../images/keyfasterlogo2.png"/>
        <% include ../partials/navbar %>
    </div>
</div>