
    <script type="text/javascript">

    </script>
    <div id="signin"class="container" style="margin-left:20px; margin-right:20px;">
        <form class="form-signin" action="/login" method="post">
            <!--<h2 class="form-signin-heading text-center heading-text">Sign in to KeyFaster</h2>-->
            <div id="loginstripe">
                <label for="username" class="sr-only">Username</label>
                <input type="text" name="username" id="username" size="30" class="form-control" style="vertical-align: middle;" placeholder="E-mail Address" required autofocus>
                <br/>
                <label for="password" class="sr-only">Password</label>
                <input type="password" name="password" id="password" size="30" class="form-control" style="vertical-align: middle;" placeholder="Password">
                <div id="login-validation" class="form-validation" align="center">
                    <%= typeof message!='undefined' ? message : ''%>
                </div>
            <button class="btn btn-lg btn-primary btn-block" id="loginbutton" type="submit">Sign in</button>
            <button class="btn btn-lg btn-primary btn-block" id="signupbutton" type="button">Sign up</button>
            </div>
        </form>

        <div id="altSignin" >Sign in with:
            <a href="/oauth/facebook"><img alt="Facebook" src="../images/fblogo.png" width="30px" height="30px"/></a> |
            <a href="/oauth/twitter"><img alt="Twitter" src="../images/twitterlogo.png" width="35px" height="30px"/></a> |
            <a href="/auth/google"><img alt="Google" src="../images/googlelogo.png" width="35px" height="35px"/></a>
        </div>
    </div>