<div id="logout-container" class="content">
<FORM>
    <table>
        <tr>
            <td >
                Welcome,
            </td>
            <td>
                <%= typeof user.username!='undefined' ? ' '+user.username+' ' : ' ' %>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <INPUT TYPE="button" onClick="parent.parent.location='/signout'" value="Sign Out">
            </td>
        </tr>
        <tr>
            <td>&nbsp</td>
        </tr>
    </table>
</FORM>
</div>