<head>
    <script type="text/javascript" rel="dns-prefetch">

//        var curUser = typeof user != 'undefined' ? user : '';

        function showIndex()
        {
//            parent.location = '/#!index';
            document.getElementById("index").style.display = "block";
            document.getElementById('dashboard').style.display = "none";
            document.getElementById('exercises').style.display = "none";
            document.getElementById('register').style.display = "none";
            document.getElementById("settings").style.display = "none";
            document.getElementById("records").style.display = "none";
        };
        function showDashboard()
        {
//            parent.location = '/#!dashboard';
            document.getElementById("index").style.display = "none";
            document.getElementById('dashboard').style.display = "block";
            document.getElementById('exercises').style.display = "none";
            document.getElementById('register').style.display = "none";
            document.getElementById("settings").style.display = "none";
            document.getElementById("records").style.display = "none";
        };
        function showExercises()
        {
//            parent.location = '/#!exercises';
            document.getElementById("index").style.display = "none";
            document.getElementById('dashboard').style.display = "none";
            document.getElementById('exercises').style.display = "block";
            document.getElementById('register').style.display = "none";
            document.getElementById('settings').style.display = "none";
            document.getElementById('records').style.display = "none";
        };

        function showRegister()
        {
//                parent.location = '/#!register';
                document.getElementById("index").style.display = "none";
                document.getElementById('dashboard').style.display = "none";
                document.getElementById('exercises').style.display = "none";
                document.getElementById('register').style.display = "block";
                document.getElementById("settings").style.display = "none";
                document.getElementById("records").style.display = "none";
//            if (curUser != '')
//            {
//                showDashboard();
//                window.location.replace('/#!dashboard');
//            }
        };

        function showRecords()
        {
//            console.log('current user: '+user);
//            if (!user != '')
//            {
//                showIndex();
//                message = 'Please log in to use that feature';
////                req.session.return_to = '/register';
//                parent.location.replace('/#!index');
//                console.log('rerouting to index from records');
//            }
//            else if(user != '')
//            {
                document.getElementById("index").style.display = "none";
                document.getElementById("settings").style.display = "none";
                document.getElementById("records").style.display = "block";
                document.getElementById('dashboard').style.display = "none";
                document.getElementById('exercises').style.display = "none";
                document.getElementById('register').style.display = "none";
//            }

        };

        function showSettings()
        {
//            if (!user != '')
//            {
//                showIndex();
//                message = 'Please log in to use that feature';
////                req.session.return_to = '/register';
//                parent.location.replace('/#!index');
//
//            }
//            else if (user != '')
//            {
                document.getElementById("index").style.display = "none";
                document.getElementById("settings").style.display = "block";
                document.getElementById("records").style.display = "none";
                document.getElementById('dashboard').style.display = "none";
                document.getElementById('exercises').style.display = "none";
                document.getElementById('register').style.display = "none";
//            }
        };


    </script>
</head>
<nav id="global-navbar" class="container">
    <a href="/#!index" class="link index" onclick="showIndex()">Home</a>
    <% if(user!=''){%>
    | <a href="/exercises" class="link exercises">Exercise Overview</a>
    | <a href="/dashboard" class="link records" >Dashboard</a>
    | <a id="signoutLink" href="/signout">Sign out</a>
    <%}%>
    <% if(!user!=''){%>
    | <a id="signinLink" href="#" onclick="showSignin()" onmouseover="showSignin()">Sign in</a>
    <%}%>
    <div id="loginlogout">
        <% if(!user!=''){%><% include ../partials/loginPartial  %><%}%>
    </div>
</nav>