<script type="text/javascript">
    function checkForm(form)
    {
        if(form.username.value == "") {
            alert("Error: Username cannot be blank!");
            form.username.focus();
            return false;
        }
        re = /^\w+$/;
        if(!re.test(form.username.value)) {
            alert("Error: Username must contain only letters, numbers and underscores!");
            form.username.focus();
            return false;
        }

        if(form.password.value != "" && form.password.value == form.password2.value) {
            if(form.password.value.length < 6) {
                alert("Error: Password must contain at least six characters!");
                form.password.focus();
                return false;
            }
            if(form.password.value == form.username.value) {
                alert("Error: Password must be different from Username!");
                form.password.focus();

                return false;
            }
            re = /[0-9]/;
            if(!re.test(form.password.value)) {
                alert("Error: password must contain at least one number (0-9)!");
                form.password.focus();
                return false;
            }
            re = /[a-z]/;
            if(!re.test(form.password.value)) {
                alert("Error: password must contain at least one lowercase letter (a-z)!");
                form.password.focus();
                return false;
            }
            re = /[A-Z]/;
            if(!re.test(form.password.value)) {
                alert("Error: password must contain at least one uppercase letter (A-Z)!");
                form.password.focus();
                return false;
            }
        } else {
            alert("Error: Passwords do not match!");
            form.password.focus();
            return false;
        }
        return true;
    }
</script>
<div id="register" class="" style="width:70%;margin: 0 auto;">
    <div id="closeRegistration">X</div>
    <br/>
    <img id="signupLogo" src="../images/keyfasterlogo2.png" width="250px" height="50px"/>
    <div id="altSignup">Or, Sign Up with:
        <a href="/oauth/facebook"><img alt="Facebook" src="../images/fblogo.png" width="50px" height="50px"/></a> |
        <a href="/oauth/twitter"><img alt="Twitter" src="../images/twitterlogo.png" width="55px" height="45px"/></a> |
        <a href="/auth/google"><img alt="Google" src="../images/googlelogo.png" width="55px" height="55px"/></a>
    </div>
    <h2>Create a KeyFaster Account Today!</h2>
    <div id="registration-form">
        <form name="registrationForm" id="registerForm" action="/signup" method="post" onsubmit="return checkForm(this)">
            <table id="registration-form">
                <div id="passwordWarning" >Password must include at least one of each: Uppercase Character, Lowercase Character, Number, and at least 6 Characters in total.</div>
                <tr id="registration-validation" class="form-validation">
                    <td colspan="2" align="center">
                        <%= typeof message!='undefined' ? message : ''%>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        Valid E-Mail Address:
                    </td>
                    <td>
                        <input type="email" maxlength="75" id="desired-email" name="email" required/>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        Desired Username:
                    </td>
                    <td>
                        <input type="text" maxlength="50" id="desired-username" name="username" required/>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        Password:
                    </td>
                    <td id="passwordTD">
                        <input type="password" maxlength="50" id="desired-password" name="password" required>

                        </input>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        Confirm Password:
                    </td>
                    <td>
                        <input type="password" maxlength="50" id="confirmed-password" name="password2" required/>
                    </td>
                </tr>

                <tr>
                    <td colspan="2" align="center">
                        <input id="submitRegistration" type="submit" value="Submit Registration"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>