<!DOCTYPE html>
<html>
<%= include ../../partials/header %>
<head>
    <script type="text/javascript" rel="dns-prefetch" src="https://code.createjs.com/createjs-2014.12.12.min.js"></script>
    <!--<script type="text/javascript" rel="dns-prefetch" src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>-->
    <!--<script type="text/javascript" rel="dns-prefetch" src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.16.1/TweenLite.min.js"></script>-->
    <!--<script type="text/javascript" rel="dns-prefetch" src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.16.1/plugins/CSSPlugin.min.js"></script>-->
    <!--<script type="text/javascript" rel="dns-prefetch" src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.16.1/plugins/EaselPlugin.min.js"></script>-->
    <script type="text/javascript" rel="dns-prefetch" src="../javascripts/GlowFilter.js" ></script>
    <script type="text/javascript" rel="dns-prefetch" src="../javascripts/jqAjaxMin.js"></script>
    <script type="text/javascript" rel="dns-prefetch" src="../javascripts/resizing.js" ></script>
    <script type="text/javascript">var tpid="<%=tpid%>";</script>
    <script type="text/javascript" rel="dns-prefetch" src="../javascripts/gameHelper.js" ></script>
    <script type="text/javascript" src="../javascripts/game005.js" ></script>

</head>
<body>
<div id="game-container" align="center" style="margin-top:30px;">
    Set the program to train on:
    <select id="trainerSelector" onchange="setText(this)" >
        <option value="1">Full Alphabet</option>
        <option value="2">WASD Training</option>
        <option value="3">MOBA Training</option>
        <option value="4">Muscle Mastery 1</option>
        <option value="5">Muscle Mastery 2</option>
        <option value="6">Capstone</option>
    </select> Speed:
    <select id="speedSelector" onchange="setSpeed(this)" >
        <option value="3">1</option>
        <option value="5" selected="selected">2</option>
        <option value="7">3</option>
        <option value="9">4</option>
        <option value="11">5</option>
    </select><br/>
    <canvas id="canvas" tabindex="1" width="640" height="480"></canvas>
</div>
<div id="activity"><br/></div>
</body>
</html>