html,body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background-color: #bbbbbb
  /*height:90%*/
  width: 90%
  margin: 0 auto
  min-width:800
  min-height 600
a
  color: crimson
a:visited
  color: #880000


.form-validation
  color: crimson
  font-weight: normal
  box-sizing:border-box

.container

  height: 100%
  overflow: visible
  margin: 25px auto
  border 2px
  -webkit-border-radius: 20px;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius: 20px;
  -moz-border-radius-topright: 0;
  border-radius: 20px;
  border-top-right-radius: 0;


.content
  height 100%
  background-color: #777777
  overflow: visible
  margin: 25px auto
  padding 15px
  padding-left 35px
  border 2px
  margin-left: 50px
  margin-right 50px
  margin-top 20px
  -webkit-border-radius: 20px;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius: 20px;
  -moz-border-radius-topright: 0;
  border-radius: 20px;
  border-top-right-radius: 0;

.unselectable
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

.hidden
  display: none;
.unblocked
  disblay: block;

#header-container
  position: static;
  z-index: 999;

#loginlogout
  float: right
  padding:25
  background-color #777777
  font-weight bold
  font-size: Larger
  border 2px
  border-radius 10px
  top:0
  right:0

#login-container
  padding 25px
  padding-top 5px

#logout-container
  padding 25
  margin 0px

#title-container
  text-outline: none
  margin: 0 auto


#global-navbar
  background-color #777777
  font-weight: 600
  font-size: Large

table
  margin: 0px
  padding: 0px

#canvas
  padding:20px
  margin:20px
  -webkit-border-radius: 20px
  -webkit-border-top-right-radius: 0
  -moz-border-radius: 20px
  -moz-border-radius-topright: 0
  border-radius: 20px
  border-top-right-radius: 0


