html,
body {
    -ms-touch-action: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #225378;
    color: #f3ffe2;
/*height:90%*/
    font-size: large;
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
  /*min-width: 800px;*/
  /*min-height: 600px;*/
    overflow-x:hidden;
    overflow-y:hidden;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
a {
    color:#7f00eb;
    text-decoration: none;
    font-size:larger;
    font-weight: 500;
    outline:none;
    border:0;
}

a:visited {
    color:#7f00eb;
    font-size:larger;
    font-weight: 500;
    text-decoration: none;
    outline:none;
    border:0;
}
a:hover{
    color:#acf0f2;
    font-size:larger;
    font-weight: 500;
    text-decoration: none;
    outline:none;
    border:0;
}

nav a {
    color: #7f00eb;
    font-weight:bold;
    text-decoration: none;
    outline:none;
    border:0;
    /*font-size: larger;*/
}

nav a:visited {
    color: #7f00eb;
    font-weight:bold;
    text-decoration: none;
    outline:none;
    border:0;
    /*font-size: larger;*/
}
nav a:hover {
  color: #acf0f2;
    font-weight:bold;
    text-decoration: none;
    outline:none;
    border:0;
    /*font-size: larger;*/
}

.form-validation {
  color: #dc143c;
  font-weight: bold;
  box-sizing: border-box;
}
.container {
  background-color: #1695a3;
  height: 100%;
    width:100%;
  /*overflow: visible;*/
  margin: 25px auto;
  border: 2px;
  -webkit-border-radius: 20px;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius: 20px;
  -moz-border-radius-topright: 0;
  border-radius: 20px;
  border-top-right-radius: 0;
}
.content {
  padding: 1.3888% 0.78125% 1.3888% 0.78125%;
    background-color: #1695a3;
  /*padding-left: 35px;*/
  border: 2px;
    /*width:100%;*/
    /*height: 100%;*/
  /*border-radius: 8px;*/
    padding-bottom:30px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  -webkit-border-radius: 20px;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius: 20px;
  -moz-border-radius-topright: 0;
  border-radius: 20px;
  border-top-right-radius: 0;
}
.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hidden {
  display: none;
}
.unblocked {
  disblay: block;
}
#exercise-browser-container
{
    float:left ;
    width:50%;
    position:absolute;
    padding-right:60px;
    right:0;
    border-radius: 20px 0px 20px 20px;
}

#training-program-container
{
    margin-right:80px;
    float:left;
    width:50%;
    margin-bottom: 20px;
    padding-left:30px;
    position:relative;
}
#exBrowserContainer{
    overflow:hidden;
    position:relative;
    width:92%;
    height:47.037vh;
}

#mainrecords
{
    overflow: hidden;
}
.exli
{
    width:85%;
    padding:5px;
    border-radius: 20px 0px 20px 20px;
}
.exli:hover
{
    cursor:pointer;
    cursor:hand;
    box-shadow: 10px 5px 10px 10px #000;
    z-index: 99;
    position:relative;
}
.exli:hover a {
    color:#ACF0F2;
}

.exLabel
{
    width:100%;
    height:100%;
    padding:20px 35px 20px 35px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor:pointer;
    cursor:hand;
}
.exLabel:hover
{
    font-weight: bolder;
}
#header-container {
    position: fixed;
    z-index: 83;
    /*align: center;*/
    margin: 0 auto;
    margin-top:0;
    width:100%;
    top:0;
    left:0;
    align:center;
    height:13.888%;
    padding-top:20px;
    padding-bottom:20px;
    /*padding-right: 200px;*/
    background-color:#225378;

}
/*#title-container {*/
    /*position:absolute*/
    /*top: 0;*/
    /*left:0;*/
    /*margin: 0 auto;*/
    /*margin-top: 0px;*/
    /*padding-right:100px;*/
/*}*/
#global-navbar {
    align:center;
    background-color: #EB7F00;
    font-size: Larger;
    padding:10px;
    width:78.125%;
    z-index: 100;
    font-weight:bold;

}
#register
{
    background-color: #1695a3;
    -webkit-border-radius: 20px 0 20px 20px;
    -moz-border-radius: 20px 0 20px 20px;
    border-radius: 20px 0 20px 20px;
    padding-bottom:30px;
}
#signinLink
{
    /*transition: all 0.5s ease-in-out 3s;*/
}


#signoutLink
{

}
#signin
{
    margin:20px;
}
#signin:hover ~ #loginlogout
{
    opacity:1;
    transition-delay: 0s;
    visibility: visible;
    /*display:block;*/
}

#loginlogout {
    opacity:0;
    visibility: hidden;
    padding-right:40px;
    padding-bottom: 10px;
    /*pointer-events: none;*/
    /*display:none;*/
    transition: all 0.5s 0s ease-out;
    transition-delay: 2s;
    z-index:85;
  float: right;
    position:absolute;
  background-color: #1695a3;
  font-weight: bold;
  font-size: Larger;
  box-shadow: 0px 0px 2px 2px #225378;
  top: 0;
  right: 150px;
    margin-right:150px;
    margin-top:60px;
  -webkit-border-radius: 20px 0 20px 20px;
  -moz-border-radius: 20px 0 20px 20px;
  border-radius: 20px 0 20px 20px;
}
#loginlogout input
{
    pointer-events: auto;
}
#loginlogout a
{
    pointer-events: auto;
}
#loginlogout:hover {
    opacity:1;
    display:block;
}
#login-container {
  /*padding: 25px;*/
  /*padding-top: 5px;*/
    margin-top:20px;
}
#logout-container {
  /*padding: 25px;*/
  margin: 25px;
}
/***FIRST STYLE THE BUTTON***/
#loginbutton {
    margin: 10px 0 10px 0;
    width:100px;
    background: #3e9cbf; /*the colour of the button*/
    padding: 8px 8px 8px; /*apply some padding inside the button*/
    border:1px solid #3e9cbf; /*required or the default border for the browser will appear*/
    cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
    /*style the text*/
    font-size:medium;
    font-family:Oswald, sans-serif; /*Oswald is available from http://www.google.com/webfonts/specimen/Oswald*/
    letter-spacing:.1em;
    text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3); /*give the text a shadow - doesn't appear in Opera 12.02 or earlier*/
    color: #fff;
    /*use box-shadow to give the button some depth - see cssdemos.tupence.co.uk/box-shadow.htm#demo7 for more info on this technique*/
    -webkit-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #333;
    -moz-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #333;
    box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #333;
    /*give the corners a small curve*/
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
/***SET THE BUTTON'S HOVER AND FOCUS STATES***/
#loginbutton:hover, #loginbutton:focus {
    color:#dfe7ea;
    /*reduce the size of the shadow to give a pushed effect*/
    -webkit-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #333;
    -moz-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #333;
    box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #333;
}
/***FIRST STYLE THE BUTTON***/
#signupbutton {
    width:100px;
    background: #3e9cbf; /*the colour of the button*/
    padding: 8px 14px 10px; /*apply some padding inside the button*/
    border:1px solid #3e9cbf; /*required or the default border for the browser will appear*/
    cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
    /*style the text*/
    /*font-size:1.5em;*/
    font-size: medium;
    font-family:Oswald, sans-serif; /*Oswald is available from http://www.google.com/webfonts/specimen/Oswald*/
    letter-spacing:.1em;
    text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3); /*give the text a shadow - doesn't appear in Opera 12.02 or earlier*/
    color: #fff;
    /*use box-shadow to give the button some depth - see cssdemos.tupence.co.uk/box-shadow.htm#demo7 for more info on this technique*/
    -webkit-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #333;
    -moz-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #333;
    box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #333;
    /*give the corners a small curve*/
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
/***SET THE BUTTON'S HOVER AND FOCUS STATES***/
#signupbutton:hover, #signupbutton:focus {
    color:#dfe7ea;
    /*reduce the size of the shadow to give a pushed effect*/
    -webkit-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #333;
    -moz-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #333;
    box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #333;
}
/*@font-face {*/
    /*font-family: 'Consequence';*/
    /*src: url('/images/Noconsequence.ttf');*/
/*}*/
/*@font-face {*/
    /*font-family: 'ArchitectsDaughter';*/
    /*src: url('/images/ArchitectsDaughter.ttf');*/
/*}*/

.tpconfirm
{
    float:left;
    width:50px;
    /*position:absolute;*/

}
.tpli
{
    width:85%;
    padding:5px;
    border-radius: 20px 0px 20px 20px;
    /*padding-right:60px;*/
}
.tpli:hover
{
    cursor:pointer;
    cursor:hand;
    box-shadow: 10px 10px 20px 5px #000;
    z-index: 99;
    position:relative;
}
.tpli:hover a {
    color:#acf0f2;
}

#graphContainer {
    float:right;
    position:relative;
    right:35px ;
    top:20px;
    margin-bottom: 30px;
    /*margin-top:20px;*/
    /*max-width:1200px;*/
    /*max-height:400px;*/
}
#timegraph {
    width:auto ;
    height:auto;
}
/*.graphs {*/
    /*max-width:300px;*/
    /*max-height:400px;*/
/*}*/

#exContainer {
    /*float:left;*/
    position:relative;
    width:100%;
    height:100%;
    margin-left:auto;
    margin-right:auto;
    margin-left:25px;
}
div #registration-form
{
    position:relative;
    align:center;
    margin:0 auto;
    /*top:0;*/
    /*left:50em;*/
}
#hider
{
    position:fixed;
    top: 0%;
    left: 0%;
    width:200%;
    height:200%;
    min-height:200%;
    margin-top: -800px; /*set to a negative number 1/2 of your height*/
    margin-left: -500px; /*set to a negative number 1/2 of your width*/
    /*
    z- index must be lower than pop up box
   */
    z-index: 999;
    background-color:Black;
    opacity:0.6;
}
#overlay
{
    /*white-space: nowrap;*/
    position:fixed;
    top: 50%;
    left: 50%;
    width:100em;
    height:100em;
    margin-top: -10em;
    margin-left: -50em;
    align:center;
    /*border: 1px solid #ccc;*/
    /*border:  2px solid black;*/
    /*overflow:hidden;*/
    /*overflow: visible;*/
    pointer-events:none;
    /*pointer-events: none;*/
    z-index:1000;

}
#overlay div{

    pointer-events: auto;
}
#register h2 {
    text-align:center;
}

#closeRegistration
{
    color:black;
    padding-top:0px;
    text-align:center;
    font-weight: 800;
    background-color: #ffcc00;
    width:25px;
    height:25px;
    position:absolute;
    top:0px;
    right:270px;
    /*font-style:*/
}
#submitRegistration :active
{
    background-color: #383;
}

#closeRegistration:hover
{
    background-color: #ff0000;
    color:#dedede;
}
#signupLogo
{
    float:left;
    position:absolute;
    left: 370px;
    top: 75px;
}

#altSignup
{
    position:absolute;
    float:left;
    left:350px;
    top:125px;
    background-color: #acf0f2;
    color:#225378;
    padding:10px;
    z-index: 99;
    -webkit-border-radius: 20px 00px 20px 20px;
    -moz-border-radius: 20px 00px 20px 20px;
    border-radius: 20px 00px 20px 20px;
    text-align: center;
}
#altSignin
{
    position:relative;
    float:right;
    right:0px;
    margin-bottom:5px;
}
#altSignup img
{
    vertical-align: middle;
}
#altSignin img
{
    vertical-align: middle;
}
#passwordTD
{
    /*position:relative;*/
}


.exs{
    width:17%;
    color:#7f00eb;
    background-color: #acf0f2;
    margin-left:auto;
    margin-right:auto;
    padding-top:10px;
    padding-bottom: 10px;
    /*border-style:solid;*/
    /*padding-bottom:20px;*/
    position:relative;
    float:left;
    /*width:auto;*/
    /*width:25%;*/
    text-align:center;
    -webkit-border-radius: 20px 20px 0px 0px;
    -moz-border-radius: 20px 20px 0px 0px;
    border-radius: 20px 20px 0px 0px;
}
.tpContainer {


    /* set the position next to where each exContainer.div is */
    opacity:0;
    transition-delay: 2s;
    transition: all 0.3s ease-out;
    left:0px;
    margin-top:10px;
    /*top:0px;*/
    width:100%;
    border:solid;
    border-width:0px 1px 1px 1px;
    border-color:#777777;
    margin-left:auto;
    float:right;
    z-index: 0;
    position: absolute;
    background-color:#f3fef2;
    /*padding:10px;*/
    padding-top:20px;
    padding-bottom:20px;
    /*width:inherit;*/
    -webkit-border-radius: 0px 0px 20px 20px;
    -moz-border-radius: 0px 0px 20px 20px;
    border-radius: 0px 0px 20px 20px;

    background-image:
      linear-gradient(#ACF0F2, white);

}

.tps {

    left:0px;
    padding:10px;
    width:90%;
    margin-left:auto;
    padding-left:10px;
    padding-right:10px;
    z-index: 100;
    position: relative;
    display: none;
    /*float:right;*/
}
.tps:hover {
    border: 1px solid #48d1cc;
    font-weight:bolder;
    display:block;
    cursor: pointer;
    cursor: hand;
}
#exContainer #ex1:hover > #tp1Container {
    opacity:1;
    z-index: 99;
    /*transition-delay: 1s;*/
}
#exContainer #ex2:hover > #tp2Container {
    opacity:1;
    z-index: 99;
}
#exContainer #ex3:hover > #tp3Container {
    opacity:1;
    z-index: 99;
}
#exContainer #ex4:hover > #tp4Container {
    opacity:1;
    z-index: 99;
}
#exContainer #ex5:hover > #tp5Container {
    opacity:1;
    z-index: 99;
}

.exPopUp
{

}
#tp1Container:hover
{
    opacity:1;
    z-index: 99;
}
#indexContent
{
    align:center;
    position:relative;
    /*margin:0 auto;*/
    /*margin-right:200px;*/
    width:90%;

}
/*.click td {*/
  /*padding: 10px 0;*/
/*}*/
ul {
    list-style-type: none;
}
#canvas {
    background-color: #777777
    padding:10px;
    margin:10px;
    -webkit-border-radius: 20px;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius: 20px;
    -moz-border-radius-topright: 0;
    border-radius: 20px;
    border-top-right-radius: 0;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */

}
#theps
{
    display:none;
}
#welcomeWrapper
{
    text-align:center;
    width:70vw;
    margin-left: auto;
    margin-right:auto;
}
#welcome-banner
{
    /*position:relative;*/
    /*align:center;*/
    width:70vw;
    display:block;
    display:inline-block;
}

#cardDisplay
{
    /*cursor:pointer;*/
    /*cursor:hand;*/
    /*float:left;*/
    vertical-aligsn: middle;
    position: relative;
    z-index: 1;
    /*width: 600px;*/
    /*max-width: 568px;*/
    /*height: 400px;*/
    /*max-height: 568px;*/
    /*top: 0;*/
    /*left: 0;*/
    /*bottom: 0;*/
    /*right: 0;*/
    align:center;
    margin:0 auto;
    margin-bottom: 20px;
    overflow: hidden;
    width: 31.25vw;
    height: 37.037vh;

    /*padding:20px;*/

    /* Prevent native touch events on Windows */
    -ms-touch-action: none;

    /* Prevent the callout on tap-hold and text selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* Prevent elements to be highlighted on tap */
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    /* Prevent text resize on orientation change, useful for web-apps */
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
    margin-top:20px;
}
#deck {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100%;
    /*padding:20px;*/
    background: #1695A3;
}

.card {
    position: absolute;
    margin: 10px;
    width: 95%;
    height: 95%;
    /*overflow: hidden;*/
    /*left:0;*/
    z-index: 10;
    /*padding:30px;*/
    /*padding-right: 30px;*/
    /*padding-bottom:30px;*/
    /*margin:20px;*/
    /*padding:10px;*/
     /*Put the scroller into the HW Compositing layer right from the start*/
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

.card div {
    color:black;
    position: relative;
    width: 85%;
    /*height: 90%;*/
    /*width:100%;*/
    height:85%;
    border: 2px solid #aaa;
    left:0;
    /*padding:10px;*/
    /*padding: 20px;*/
    border-radius: 20px;
    border-top-right-radius: 0;
    /*background-position: 50% 50%;*/
    background-size: 95% 95%;
    background-repeat: no-repeat;
    font-size: large;
    background-color: #F3FFE2;
    -webkit-box-shadow: -10px 2px 0px 0px rgba(243,255,226,0.75);
    -moz-box-shadow: -10px 2px 0px 0px rgba(243,255,226,0.75);
    box-shadow: -10px 2px 0px 0px rgba(243,255,226,0.75);
    vertical-align: middle;
    /*top:50px;*/
    /*left:50px;*/
}

.cardps
{
    vertical-align: middle;
    overflow-wrap: break-word;
    /*margin:5px;*/
    padding:15px;
    width:90%;
}
#homepagePhotosRight
{
    float:right;
    position:relative;
    right: 90px;
    top: 40px;
    z-index: 52;
    margin-bottom: 150px;
}
#homepagePhotosLeft
{
    float:left;
    position:relative;
    left: 90px;
    top: 40px;
    z-index: 51;
    margin-bottom: 150px;
}
#typingImg
{

    width:200px;
    height:150px;
}
#laptopImg
{
    width:200px;
    height:150px;

}
#codeImg
{
    width:200px;
    height:150px;
}
#herImg
{
    width:200px;
    height:150px;
}
#footer
{
    /*margin:0 auto;*/
    position:relative;
    text-align:center;
    opacity: 0.6;
    /*background-color: #00a;*/
}
#mainrecords
{
    width:90%;
}
#keyboardobject0
{
    margin-left:25px;
    position:relative;
    float:left;
    display:block;
    /*padding-top:30px;*/
    width:931px;
    padding-left:10px;
    padding-right: 10px;
    border-radius: 0 0 20px 20px;
    /*margin-top:30px;*/
    background-color: #ACF0F2;
}
#rategraph
{

    border-radius: 10px 0 10px 10px;
    margin-bottom: 10px;
}
#timegraph
{

    border-radius: 10px 0 10px 10px;
}
#passwordWarning
{
    display: none;
    float:right;
    position:absolute;
    right:145px;
    top:30px;
    /*top:130px;*/
    max-width:300px;
}

#desired-password:active + #passwordWarning
{
    display:block;
}
#keyboardobject0 p
{
    text-align: center;
    color:#225378;
}

#signuporsignin
{
    /*pointer-events: auto;*/
    margin: 0 auto;
    padding-bottom:-60px;
    padding-top:10px;
    text-align: center;
    color: #7f00eb;
    font-weight: bolder;
    font-size: larger;
    z-index: 999;
    /*background-color: #ACF0F2;*/
}
#signuporsignin span{
    cursor:pointer;
    cursor:hand;
    background-color: #ACF0F2;
    border-radius: 10px 0 10px 0;
    /*box-shadow:3px;*/
    padding:5px;
    -webkit-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #333;
    -moz-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #333;
    box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #333;
}
#signuporsignin :hover, :focus
{
    color: #205c73;
    -webkit-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #333;
    -moz-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #333;
    box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #333;
    /*background-color: #7f00eb;*/
}
.orange
{
    background-color: #EB7F00;
    /*vertical-align: middle;*/
}
.purple
{
    background-color: #7f00eb;
    /*vertical-align: middle;*/
}


