<!DOCTYPE html>
<html>
    <% include ../partials/header %>
<body>
    <br/>
    <h2>Dashboard Summary for <%= typeof user.username!='undefined' ? ''+user.username+'' : '' %></h2>
    <div class="container content"
    <h3>Welcome<%= typeof user.username!='undefined' ? ', '+user.username+', ' : ', ' %>to KeyFaster.com, where your fingers go to learn!</h3>
    <p>This is going to be your first stop on your adventure. Be sure to thoroughly read the warnings provided. KeyFaster.com or any of its affiliates will not be held responsible for any injuries you may sustain as a result of using this application. Use at your own risk, but just remember to take breaks!</p>
</body>
</html>