<!DOCTYPE html>
<html>
<% include ../partials/header %>
<head>
    <script type="text/javascript" rel="dns-prefetch" src="../javascripts/jqAjaxMin.js"></script>
    <script type="text/javascript">

        function setTP(id, el)
        {
//            el.style.border = "";
            document.getElementById('tpitem1').style.border = '';
            document.getElementById('tpitem2').style.border = '';
            document.getElementById('tpitem3').style.border = '';
            document.getElementById('tpitem4').style.border = '';
            document.getElementById('tpitem5').style.border = '';
            document.getElementById('tpitem6').style.border = '';

            document.getElementById('tpitem'+id).style.border="4px dotted orange";
            jqAjax.ajax({
                url: 'setDefaultTP',
                type: 'post',
                data:
                {
                    'tpid':id
                },
                success: function(data){
//                    alert('success:'+data);
//                    document.getElementById('exContainer').style.display = "block";
//                    //new Chart(document.getElementById('recordgraph').getContext('2d'));
//                    exData = data;
//                    main();
                    document.getElementById('tpitem1').style.border = '';
                    document.getElementById('tpitem2').style.border = '';
                    document.getElementById('tpitem3').style.border = '';
                    document.getElementById('tpitem4').style.border = '';
                    document.getElementById('tpitem5').style.border = '';
                    document.getElementById('tpitem6').style.border = '';

                    document.getElementById('tpitem'+id).style.border="4px solid cyan";
                },
                error: function(xhr,status){
//                    alert('error:'+status);
                },
                complete: function(xhr,status){
                    //alert('complete:'+status);
                }
            });
        }
    </script>
</head>
<body>
    <br/>
    <h2>Exercises</h2>
<div id="exBrowserContainer" class="container content">
    <div id="training-program-container" >
        <p>Available Training Programs: (Select to set as default)</p>
        <ul>
            <li onclick="setTP(1, this)" class="tpli" id="tpitem1"><div  class="tpconfirm">   </div><a href="" onclick="setTP(1, this)">Full Alphabet</a>
                <ul><li>All of the letters of the English alphabet in a simple sentence.</li></ul>
            </li>
            <li onclick="setTP(2, this)" class="tpli" id="tpitem2"><div class="tpconfirm">   </div><a href="" onclick="setTP(2, this)">WASD Training</a>
                <ul><li>The most commonly pressed keys in FPS gaming.</li></ul>
            </li>
            <li onclick="setTP(3, this)" class="tpli" id="tpitem3"><div class="tpconfirm">   </div><a href="" onclick="setTP(3, this)">MOBA Training</a>
                <ul><li>The most commonly pressed keys in MOBA gaming</li></ul>
            </li>
            <li onclick="setTP(4, this)" class="tpli" id="tpitem4"><div class="tpconfirm">   </div><a href="" onclick="setTP(4, this)">Muscle Mastery 1</a>
                <ul><li>The most common two-letter combinations in the English language</li></ul>
            </li>
            <li onclick="setTP(5, this)" class="tpli" id="tpitem5"><div class="tpconfirm">   </div><a href="" onclick="setTP(5, this)">Muscle Mastery 2</a>
                <ul><li>The most common three-letter combinations in the English language</li></ul>
            </li>
            <li onclick="setTP(6, this)" class="tpli" id="tpitem6"><div class="tpconfirm">   </div><a href="" onclick="setTP(6, this)">Capstone</a>
                <ul><li>The most common four-letter combinations in the English language</li></ul>
            </li>
        </ul>
    </div>
    <div id="exercise-browser-container">
        <p>This is where all of the exercises will be available for you to learn more about each of them so that you can choose the right tool(s) for the job.</p>
        <ul>
            <li class="exli" onclick="window.location = '/exercises/one'"> <a href="/exercises/one">SplatterKeys</a>
                <ul>
                    <li>Type with a fury to paint the walls in this beginner exercise.</li>
                </ul>
            </li>
            <li class="exli" onclick="window.location = '/exercises/two'"> <a href="/exercises/two">Point and Pop</a>
                <ul>
                    <li>Combine keyboard and mouse inputs to light up the night's sky in this interactive training program.</li>
                </ul>
            </li>
            <li class="exli"  onclick="window.location = '/exercises/three'"> <a href="/exercises/three">Typing for Apples</a>
                <ul>
                    <li>Don't let the apples hit the ground! This exercise focuses on developing reaction time.</li>
                </ul>
            </li>
            <li class="exli" onclick="window.location = '/exercises/four'"> <a href="/exercises/four">Keyboard Hero</a>
                <ul>
                    <li>Want to be a typing star? Keyboard Hero focuses on developing muscle memory associations with key transitions.</li>
                </ul>
            </li>
        </ul>
    </div>

</div>

</body>
<footer>
    <script type="text/javascript">
        var mtpid = "<%=tpid%>" || "";
        if (mtpid != "")
        {
            var el = document.getElementById('tpitem'+mtpid);
            if (el)
                el.style.border="5px solid cyan";//.innerHTML = 'Active - ';
            console.log('setting mtpid:: '+mtpid);
        }
    </script>
</footer>
</html>