<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" rel="dns-prefetch" src="../javascripts/cardview.js"></script>
    <script type="text/javascript">

        window.addEventListener('DOMContentLoaded', main);
        function main()
        {
            var hider = document.getElementById('hider');
            var overlay = document.getElementById('overlay');
            var content = document.getElementById('content');
            var showbtn = document.getElementById('signupbutton');
            var closebtn = document.getElementById('closeRegistration');
            var pField = document.getElementById('desired-password');
            var warning = document.getElementById('passwordWarning');
            var cField = document.getElementById('confirmed-password');
            var indecks = 5;
            document.addEventListener('keyup', function (e) {
                switch (e.keyCode)
                {
                    case 37:
                        console.log('Left Arrow: '+indecks);
                        if (indecks++ >= 5)
                            indecks = 5;
                        deck.goToPage(indecks);
//                            deck.update();
                        break;
                    case 39:
//                            deck.update();
                        console.log('Right Arrow: '+indecks);
                        if (indecks-- <= 0)
                            indecks = 0;
                        deck.goToPage(indecks);
                        break;
                    default :
                        console.log(e.keyCode)
                        if (pField === document.activeElement || cField === document.activeElement)
                        {
                            warning.style.display = 'block';
                        }
                        else
                            warning.style.display = 'none';
                        break;
                }
            });

            hider.style.display = 'none';
            overlay.style.display = 'none';

            //on click show the hider div and the message
            if (showbtn)
            showbtn.addEventListener('click', function () {
                hider.style.display = 'block';
                overlay.style.display = 'block';
                var fs = document.getElementById('registerForm');
                for (var i = 0; i < fs.length-1; i++)
                    fs[i].value = '';
            });
            if (hider)
            hider.addEventListener('click', function () {
                hider.style.display = 'none';
                overlay.style.display = 'none';
                var fs = document.getElementById('registerForm');
                for (var i = 0; i < fs.length-1; i++)
                    fs[i].value = '';
            });
            if (closebtn)
            closebtn.addEventListener('click', function () {
                hider.style.display = 'none';
                overlay.style.display = 'none';
                var fs = document.getElementById('registerForm');
                for (var i = 0; i < fs.length-1; i++)
                    fs[i].value = '';
            });

            var login = document.getElementById('loginlogout');
            login.addEventListener('mouseover', function () {
                login.style.opacity = 1;
                login.style.transition = 'all 0.5s ease-out';
                login.style.visibility = 'visible';
            });
            login.addEventListener('mouseout', function () {
                login.style.opacity = 0;
                login.style.transition = 'all 0.5s 0s ease-out';
                login.style.visibility = 'hidden';
//                login.style.transitionDelay = '2s';
            });
        }
    function showSignin()
    {
        var modal = document.getElementById('loginlogout');
        modal.style.visibility = 'visible';
        modal.style.opacity = 1;
        modal.style.transition = "all 0.5s ease-out";
//        modal.style.display = 'block';
//        alert('showing');

    }
//        };
    </script>
</head>
    <% include ../partials/header %>
  <body class="noselect">
  <div id="hider" style="display:none;"></div>
  <div id="overlay" style="display:none;"><% include ../partials/register %></div>
    <!--<section class="pages noselect" id="indexContent">-->
            <br/>
            <div id="welcomeWrapper">
            <h2 id="welcome-banner" style="text-align:center;">Welcome<%= typeof user.username!='undefined' ? ', '+user.username+', ' : ' ' %>to KeyFaster.com, where your fingers go to learn!</h2   >
            </div>
                <% if (user){isLogged = true;}%>
            <div class="content" >
                <% if (!user){%><div id="signuporsignin"><span onclick="showSignin()">Sign in or Sign up Now!</span></div><%}%>
                <div id="homepagePhotosLeft">
                    <img id="codeImg" src="../images/somecode.jpg" title="Photo Courtesy PicJumbo.com" alt="Photo Courtesy PicJumbo.com"/>
                    <br/>
                    <img id="herImg" src="../images/her.jpg" title="Photo Courtesy PicJumbo.com" alt="Photo Courtesy PicJumbo.com"/>
                </div>
                <div id="homepagePhotosRight">
                    <img id="laptopImg" src="../images/laptop2.jpg" title="Photo Courtesy PicJumbo.com" alt="Photo Courtesy PicJumbo.com"/>
                    <br/>
                    <img id="typingImg" src="../images/typing.jpg" title="Photo Courtesy PicJumbo.com" alt="Photo Courtesy PicJumbo.com"/>
                </div>
                <div id="cardDisplay">
                    <ul id="deck">
                        <li class="card">1</li>
                        <li class="card">2</li>
                        <li class="card">3</li>
                    </ul>
                </div>
                <div id="theps">
                <p><strong>1. Our Purpose</strong><br/>
                        KeyFaster.com's purpose is simple; to help you use your keyboard more optimally. Whether you are a secretary trying to get the job done faster, or a gamer trying to WASD your way to victory, KeyFaster is here to help.
                Choose from 5 different training programs on 4 different exercises to suit your keyboard learning style, and track your efficiency and progress with our our state-of-the art KeyTracker. Join today, and start letting your fingers do the typing, not your brain.
                    <br/><br/> (Swipe this card off to the left or press the right arrow key to find out more!)</p>
                
                <p><strong>2. Muscle Memory</strong><br/>
                    Muscle Memory is commonly used to describe the process through which people perform repetitive tasks with great speed or accuracy. While this is the outcome of developing muscle memory, a better way to describe it is as 'unconscious memory'.
</p><p><strong>3. The Truth</strong><br/>
                    There are a few misconceptions about muscle memory, in particular - the term itself is a misnomer. The memory is stored in the same way as any other memory, in the mind. Muscle memory is much like speaking, over time it develops on its own and for the most part is achieved without much conscious thought. The biggest misconception is that muscle memory is how people actually perform tasks, it is not. They perform tasks with either conscious thought or unconscious memory.
                    <br/>Unconscious memory is developed by the same process and is always used in combination with muscle memory to perform actions.
</p><p><strong>4. The Science!</strong><br/>
                    You do not remember how it 'feels' to move from one to the other, there are too many combinations and possibilities to do this, instead over many hours of practice your mind learns how to transition from one shape to another, or from one part of the keyboard to another without you being consciously aware of how you do it. The actual muscle memory is only used to verify that your hand is in the correct shape and your arm is in the correct place.
</p><p><strong>5. More Science</strong><br/>

                    If you asked a secretary to hold their hand in the shape to hit the 'E' key without the keyboard in their hand they will be able to form the basic shape, but if you were then to put this hand onto a keyboard, they will often not be in the correct shape. This is because part of the stimulus for muscle memory is the keyboard itself, without it the muscles do not have a reference for correction, therefore what feels right without the keyboard is rarely correct with it. However, if you ask them to move their hand from an E key to an open A key, or vice versa, they will be far more likely to get the shapes correct, this is because the part of the brain that stores the information for transitioning from one key to another does not rely on the stimulus of the keyboard, it is, unlike muscle memory, a completely unconscious process. </p>
                    <p><strong>6. The End</strong><br/> The only conscious thought used is the initial request of moving from an E key to an A key, and subsequent commands to change shape, the actual action of changing shape is handled by memory alone. The reason why making the shape of an E key is hard without the keyboard is that you cannot consciously verify that your hand is in the correct place.
                </p>
                </div>
            </div>
  <br/>
                <div id="footer">Created By: Daniel Wood<br/>Neumont University Capstone 2015</div>

    <!--</section>-->

<section class="pages settings" style="display:none;">
    <div id="settings" class="page">
        <% if(user!=''){%>
            <br/>
            <h2>User Preferences</h2>
            <div class="container content">
                <h3>Update your preferences below</h3>
                <table border="1">

                    <tr>
                        <td align="center">
                            Update E-mail Address
                        </td>
                        <td>
                            <form action="/user/updateEmail" method="post" >
                                <table align="center">
                                    <tr>
                                        <td>
                                            New E-mail Address:
                                        </td>
                                        <td>
                                            <input type="email" maxlength="75" size="35" required/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" align="center">
                                            <input type="submit" value="Update E-mail"/>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            Change Password
                        </td>
                        <td>
                            <FORM action="/user/updatePassword" method="post" onsubmit="return checkForm(this)">
                                <table id="update-password-confirm-table" align="center">
                                    <tr>
                                        <td align="right">
                                            New Password:
                                        </td>
                                        <td>
                                            <input type="password" maxlength="50" id="desired-password" name="password" required/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right">
                                            Confirm Password:
                                        </td>
                                        <td>
                                            <input type="password" maxlength="50" id="desired-password" name="password2" required/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" align="center">
                                            <input type="submit" value="Change Password"/>
                                        </td>
                                    </tr>
                                </table>
                            </FORM>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/updateTrainer" method="post">
                                <select id="trainerSelector" >
                                    <option value="1" id="updateAlpha">Full Alphabet</option>
                                    <option value="2" id="updateWASD">WASD Training</option>
                                    <option value="3" id="updateMOBA">MOBA Training</option>
                                    <option value="4" id="updateMuscle1">Muscle Mastery 1</option>
                                    <option value="5" id="updateMuscle2">Muscle Mastery 2</option>
                                </select>
                                <input type="submit" value="Update"/>
                            </form>
                        </td>
                    </tr>
                    <!--<tr>-->
                        <!--<td align="center">-->
                            <!--Upload Avatar Icon 1MB Max-->
                        <!--</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td align="center">-->
                            <!--Reset Exercise Progress (!!WARNING!! Cannot be reversed!)-->
                        <!--</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td align="center">-->
                            <!--Delete Account (!!WARNING!! Cannot be reversed!)-->
                        <!--</td>-->
                    <!--</tr>-->
                </table>
            </div>
        <%}%>
    </div>
</section>

</body>
<footer>
    <script type="text/javascript">
        window.addEventListener('DOMContentLoaded', function () {
            var ps = document.getElementsByTagName('p');
            var sp = [];
            for (var i = 0; i < ps.length; i++)
            {
                var index = ps.length - i;
                sp[index] = ps[i].innerHTML;
//                ps[i] = ps[i].innerHTML;
            }
            sp.shift();
            console.log('ps: '+JSON.stringify(sp) + '\n' +
            'p0:: '+sp[0]+'\n p1:: '+sp[1]);
            deck = new CardView('#cardDisplay',{
                effect: 'rotate',
                direction: '*h',
                reverse: true,
                dataset: sp,
                onUpdateContent: function (el, data)
                {
                    el.innerHTML = "\<div class='cardps'>"+data+"\</div>";
                }
            });
        });

    </script>
</footer>
</html>
