<!DOCTYPE html>
<html>
<% include ../partials/header %>

<body>
<br/>
<div id="mainrecords" class="container content">
    <div id="graphContainer"style="float:right" >
        <div id="rateGraphContainer" >
            <div id="rLegend" style="">Your (WPM) typing rates:
                <br/>
                &nbsp; &nbsp; <span class="orange">&nbsp;&nbsp;&nbsp;&nbsp;</span>: Best Rate <span class="purple">&nbsp;&nbsp;&nbsp;&nbsp;</span>: Average Rate</div>
            <canvas class="graphs" id="rategraph" width="350" height="250" style="background-color:#bbb; float:left"></canvas>
        </div>
        <div id="timeGraphContainer" style="float:right" >
            <div id="tLegend" >Your completion times:
                <br/>
                &nbsp; &nbsp; <span class="orange">&nbsp;&nbsp;&nbsp;&nbsp;</span>: Best Time <span class="purple">&nbsp;&nbsp;&nbsp;&nbsp;</span>: Average Time</div>
            <canvas class="graphs" id="timegraph" width="350" height="250" style="background-color:#bbb; z-index: 999;"></canvas>
        </div>
    </div>
<h3 style="text-align: center;"><%=user.username%>'s Dashboard, populated with information about your progress with each exercise.</h3>
    <p style="text-align: center;">Choose the data to display from the following dropdown menus:</p>
        <div id="exContainer">
            <div id="ex1" class="exs">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <div class="exLabel" onclick="window.location='/exercises/one'">SplatterKeys</div>
                <div class="tpContainer" id="tp1Container">
                    <div id="emptyTps1" style="display:none;">No Data Available Yet</div>
                    <div id="tp11" class="tps" ex="1"%>>Full Alphabet</div>
                    <div id="tp12" class="tps" ex="2">WASD Training</div>
                    <div id="tp13" class="tps" ex="3">MOBA Training</div>
                    <div id="tp14" class="tps" ex="4">Memory Mastery</div>
                    <div id="tp15" class="tps" ex="5">Memory Mastery 2</div>
                    <div id="tp16" class="tps" ex="6">Capstone</div>
                </div>
            </div>
            <div id="ex2" class="exs">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <div class="exLabel" onclick="window.location='/exercises/two'">Point and Pop</div>
                <div class="tpContainer" id="tp2Container">
                    <div id="emptyTps2" style="display:none;">No Data Available Yet</div>
                    <div id="tp21" class="tps" ex="7">Full Alphabet</div>
                    <div id="tp22" class="tps" ex="8">WASD Training</div>
                    <div id="tp23" class="tps" ex="9">MOBA Training</div>
                    <div id="tp24" class="tps" ex="10">Memory Mastery</div>
                    <div id="tp25" class="tps" ex="11">Memory Mastery 2</div>
                    <div id="tp26" class="tps" ex="12">Capstone</div>
                </div>
            </div>
            <div id="ex3" class="exs">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <div class="exLabel" onclick="window.location='/exercises/three'">Typing for Apples</div>
                <div class="tpContainer" id="tp3Container">
                    <div id="emptyTps3" style="display:none;">No Data Available Yet</div>
                    <div id="tp31" class="tps" ex="13">Full Alphabet</div>
                    <div id="tp32" class="tps" ex="14">WASD Training</div>
                    <div id="tp33" class="tps" ex="15">MOBA Training</div>
                    <div id="tp34" class="tps" ex="16">Memory Mastery</div>
                    <div id="tp35" class="tps" ex="17">Memory Mastery 2</div>
                    <div id="tp36" class="tps" ex="18">Capstone</div>
                </div>
            </div>
            <div id="ex4" class="exs">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <div class="exLabel" onclick="window.location='/exercises/four'">Keyboard Hero</div>
                <div class="tpContainer" id="tp4Container" onclick="">
                    <div id="emptyTps4" style="display:none;">No Data Available Yet</div>
                    <div id="tp41" class="tps" ex="19">Full Alphabet</div>
                    <div id="tp42" class="tps" ex="20">WASD Training</div>
                    <div id="tp43" class="tps" ex="21">MOBA Training</div>
                    <div id="tp44" class="tps" ex="22">Memory Mastery</div>
                    <div id="tp45" class="tps" ex="23">Memory Mastery 2</div>
                    <div id="tp46" class="tps" ex="24">Capstone</div>
                </div>
            </div>
            <!--<div id="ex5" class="exs" style="display:none;">-->
                <!--<span></span>-->
                <!--<span></span>-->
                <!--<span></span>-->
                <!--<span></span>-->
                <!--<span></span>-->
                <!--<a href="/exercises/five">If there were a fifth, it would be here...</a>-->
                <!--<div class="tpContainer" id="tp5Container">-->
                    <!--<div id="emptyTps5" style="display:none;">No Data Available Yet</div>-->
                    <!--<div id="tp51" class="tps" ex="25">Full Alphabet</div>-->
                    <!--<div id="tp52" class="tps" ex="26">WASD Training</div>-->
                    <!--<div id="tp53" class="tps" ex="27">MOBA Training</div>-->
                    <!--<div id="tp54" class="tps" ex="28">Memory Mastery</div>-->
                    <!--<div id="tp55" class="tps" ex="29">Memory Mastery 2</div>-->
                    <!--<div id="tp56" class="tps" ex="30">Capstone</div>-->
                <!--</div></div>-->
            </div>

                <div id="metricsContainer">
            <div id="keyboardobject0"><p id="keyboardPrompt"></p><object preserveAspectRatio="xMinYmin meet" viewbox="0 0 120 120"  data="../images/cleanboard.svg" type="image/svg+xml" id="keyboardsvg_e0" style=" margin:20px; position: relative;"></object>
                </div>
            </div>
    <br/>

</div>
    <div id="footer">Created By: Daniel Wood<br/>Neumont University Capstone 2015</div>

<footer>
    <script type="text/javascript" rel="dns-prefetch" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
    <script type="text/javascript" rel="dns-prefetch" src="../javascripts/jqAjaxMin.js"></script>
    <script type="text/javascript" rel="dns-prefetch">var selex = "<%- loadEx %>";</script>
    <!--<script type="text/javascript" src="../javascripts/resizing.js"></script>-->
    <script type="text/javascript" src="../javascripts/records.js"></script>
</footer>
</body>
</html>