<!DOCTYPE html>
<html>
<% include ../partials/header %>
<body>
<br/>
<h2>User Preferences</h2>
<div class="container content">
    <h3>Update your preferences below</h3>
<table border="1">

    <tr>
        <td align="center">
            Update E-mail Address
        </td>
        <td>
            <form action="/user/updateEmail" method="post" >
                <table align="center">
                    <tr>
                        <td>
                            New E-mail Address:
                        </td>
                        <td>
                            <input type="email" maxlength="75" size="35" required/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <input type="submit" value="Update E-mail"/>
                        </td>
                    </tr>
                </table>
            </form>
        </td>
    </tr>
    <tr>
        <td align="center">
            Change Password
        </td>
        <td>
            <FORM action="/user/updatePassword" method="post" onsubmit="return checkForm(this)">
            <table id="update-password-confirm-table" align="center">
                <tr>
                    <td align="right">
                        New Password:
                    </td>
                    <td>
                        <input type="password" maxlength="50" id="desired-password" name="password" required/>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        Confirm Password:
                    </td>
                    <td>
                        <input type="password" maxlength="50" id="desired-password" name="password2" required/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input type="submit" value="Change Password"/>
                    </td>
                </tr>
            </table>
            </FORM>
        </td>
    </tr>
    <tr>
        <td align="center">
            Upload Avatar Icon 1MB Max
        </td>
    </tr>
    <tr>
        <td align="center">
            Reset Exercise Progress (!!WARNING!! Cannot be reversed!)
        </td>
    </tr>
    <tr>
        <td align="center">
            Delete Account (!!WARNING!! Cannot be reversed!)
        </td>
    </tr>
</table>
</div>
</body>
</html>